# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Build Result
Build/
MinFramework/

# Temporary
*.obj
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.tlog

# User Settings
*.vcxproj.user

# Visual Studio Cache
*.suo

# Generated
*.log
